.title {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}
.face {
  margin-right: 0.5rem;
}

.member {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}
.profile {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  max-width: 35vw !important;
}
.grow {
  flex-grow: 1;
}
.avatar {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}
.text {
  display: flex;
  flex-direction: column;
  max-width: inherit !important;
}
.name {
  white-space: nowrap !important;
  font-weight: 550 !important;
  font-size: 1rem !important;
  max-width: inherit !important;
  text-overflow: ellipsis;
  overflow: hidden;
}
.nickname {
  white-space: nowrap !important;
  font-size: 0.7rem !important;
  color: #adacad;
  max-width: inherit !important;
  text-overflow: ellipsis;
  overflow: hidden;
}
.create {
  margin-left: 1rem;
  margin-right: 0.2rem;
}

.textField {
  width: 90%;
  margin-left: 1.5% !important;
  margin-right: 1.5% !important;
  background-color: white;
  border-radius: 2rem;
  box-shadow: 0 -0.1rem 0.3rem #909090;
}
.send {
  color: #787878 !important;
  margin-right: 1rem !important;
  margin-left: 0.5rem !important;
}
.writing {
  color: #787878 !important;
  font-size: 0.85rem !important;
  margin-left: 1rem !important;
}
.messageInput {
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding-bottom: 0.5rem !important;
}

.check {
  color: #18b393 !important;
  font-size: 2rem !important;
  margin-right: 0.2rem;
}
.cancel {
  font-size: 2rem !important;
  margin-right: 0.5rem;
  color: red !important;
}
