.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  max-width: 80vw !important;
}
.writing {
  font-weight: 600 !important;
  max-width: inherit !important;
  overflow: hidden;
  text-overflow: ellipsis;
}
.exit {
  margin-right: 0.5rem;
}
