.image {
  height: 190px;
}

.role {
  color: white !important;
  font-weight: 250 !important;
}

.root {
  margin: 16px;
  background-color: black;
}

.firstCardContent {
  padding: 8px !important;
  background: #18b393;
}

.secondCardContent {
  padding: 8px !important;
  background-color: black;
}

@media (min-width: 600px) {
  .image {
    height: 300px;
  }
}
