.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.title {
  font-weight: 750 !important;
}
.divider {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.card {
  width: 100%;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  text-align: left;
}
.center {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.message {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
.text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 80%;
  color: #b3b3b3 !important;
  font-size: 0.75rem !important;
}
.time {
  margin-right: 2rem !important;
  white-space: nowrap;
  color: #b3b3b3;
  font-size: 0.75rem !important;
}
.name {
  font-weight: 750 !important;
}

.create {
  color: #b3b3b3 !important;
  background-color: #eeeeee !important;
}
