.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.card {
  width: 100%;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  margin-top: 1rem;
  text-align: left;
}
.center {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.help {
  margin-left: 1rem;
  color: #18b393;
}
.dividerTitle {
  padding-bottom: 0.2rem;
  background-color: #18b393 !important;
}

.questionDivider {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}
