.button {
  position: sticky;
  margin: 12px !important;
  height: 32px;
}

.buttonContainer {
  display: flex;
  width: 100%;
  justify-content: center;
}

.div {
  margin-top: 8px;
}

.draggable {
  margin-bottom: 8px;
}

@media (max-width: 600px) {
  .main {
    padding-bottom: 200px;
  }
  .buttonText {
    margin-top: 4px;
  }
}

@media (min-width: 600px) {
  .div {
    margin: 8px;
  }
}
