.button {
  position: sticky;
  margin-top: 10px !important;
  margin-bottom: 8px !important;
}

.buttonContainer {
  width: 100%;
  justify-content: center;
}

.div {
  margin-top: 8px;
}

@media (max-width: 600px) {
  .main {
    padding-bottom: 200px;
  }
}

@media (min-width: 600px) {
  .div {
    margin: 8px;
  }
}
