.paper {
  display: flex;
  justify-content: center;
}
.item {
  flex: 1 1 auto;
}
.date {
  margin: 4px !important;
}
.time {
  margin: 4px !important;
}

.box {
  width: 100%;
}

@media (min-width: 600px) {
  .box {
    width: 65%
  }
}
