.legend {
  display: flex;
  flex-direction: column;
}
.text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin: 4px;
}

.displayFlex {
  display: flex;
}

.title {
  margin-bottom: 8px !important;
  margin-top: 16px !important;
}

.textDate {
  margin-bottom: 8px !important;
  margin-top: 16px !important;
  margin-left: auto !important;
}

.subTitle {
  margin: 8px !important;
}

.iconButtonDark {
  background-color: #008a6c !important;
  margin-right: 8px !important;
}
.iconButtonMain {
  background-color: #18b393 !important;
  margin-right: 8px !important;
}
.root {
  padding: 16px;
}
