.card {
  display: flex;
  flex-direction: column;
}
.greycard {
  display: flex;
  flex-direction: column;
  background-color: rgb(240, 240, 240);
}

.player {
  flex: 1 1 auto;
  display: grid;
  grid-template-columns: 1fr 8fr auto auto auto;
  grid-template-areas: 'avatar name chip memberButton icon add';
  justify-content: left;
  margin: 4px 0;
}

.avatar {
  grid-area: avatar;
  display: flex;
  justify-self: center;
  align-self: center;
}

.position > div {
  display: flex;
}

.name {
  grid-area: name;
  justify-self: start;
  align-self: left;
  text-align: left;
}

.chip {
  grid-area: chip;
  align-self: center;
}

.icon {
  grid-area: icon;
  display: flex;
  justify-self: end;
  align-self: center;
  width: 100%;
}

.add {
  grid-area: add;
  display: flex;
  justify-self: end;
  align-self: center;
  width: 100%;
}

.memberButton {
  grid-area: memberButton;
  align-self: center;
}
