.main {
  display: flex;
  flex-direction: column;
}

.stepper {
  flex: 1 1 auto;
  display: flex;
  justify-content: space-evenly;
}

.step {
  padding: 0px;
}

.display {
  padding-bottom: 16px;
  flex: 1 1 auto;
}

.content {
  padding: 16px;
  flex: 1 1 auto;
}

.buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  margin: 8px 0;
}

.button {
  margin: 0 16px;
}
