.container {
  text-align: center;
}
.card {
  text-align: center !important;
  margin-bottom: 16px;
  margin-top: 16px;
}
.title {
  padding: 16px !important;
}

.divEdit {
  margin: 4px 0 !important;
}

.rootMargin {
  margin-top: 8px;
}


.IgContainer {
  background-color: #f5f5f5 !important;
}