.main {
  display: grid;
  grid-template-columns: 1fr 1fr 6fr 2fr 1fr;
  grid-template-areas: 'position . name . edit';
  padding: 0px;
}

.spots {
  display: grid;
  grid-template-columns: 1fr 1fr 6fr 2fr 1fr;
  grid-template-areas: 'positionHolder . title . add';
  padding: 0px;
}

.title {
  grid-area: title;
  align-self: center;
}

.add {
  grid-area: add;
  justify-self: end;
  align-self: center;
}

.orderContainer {
  display: flex;
  padding-top: 4px;
}

.position {
  grid-area: position;
  padding-left: 8px;
  align-self: center;
}

.positionHolder {
  grid-area: positionHolder;
  padding-left: 8px;
  align-self: center;
}

.name {
  grid-area: name;
  align-self: center;
}

.edit {
  grid-area: edit;
  justify-self: end;
  align-self: center;
}

.div {
  display: grid;
  grid-template-rows: 1fr;
  width: 100%;
}

.button {
  width: max-content !important;
  height: 32px;
  margin-bottom: 8px !important;
  margin-left: 16px !important;
  margin-right: 16px !important;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}

.iconButton {
  margin-right: 20px;
  justify-self: end;
  align-self: center;
}

@media (min-width: 600px) {
  .button {
    width: 25%;
  }
}
