.main {
  display: grid;
  grid-template-columns: 1fr 6fr 2fr 1fr;
  grid-template-areas: 'position name . edit';
  padding: 0px;
}

.empty {
  display: grid;
  grid-template-columns: 1fr 7fr 2fr;
  grid-template-areas: 'positionHolder name .';
  padding: 0px;
}

.reorder {
  align-self: center;
}

.position {
  grid-area: position;
  padding-left: 8px;
  align-self: center;
}

.positionHolder {
  grid-area: positionHolder;
  padding-left: 8px;
  align-self: center;
}

.name {
  grid-area: name;
  align-self: center;
  padding-left: 8px;
}

.edit {
  grid-area: edit;
  justify-self: end;
  align-self: center;
}

.div {
  display: grid;
  grid-template-rows: 1fr;
  width: 100%;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.iconButton {
  margin-right: 20px;
  justify-self: end;
  align-self: center;
}

.button {
  width: 120px !important;
  margin-left: 8px !important;
  margin-right: 8px !important;
  height: 36px;
  align-self: center;
}

.save {
  width: 140px !important;
  margin-left: 8px !important;
  margin-right: 8px !important;
  height: 36px;
  align-self: center;
}

.cancel {
  width: 120px !important;
  margin-left: 8px !important;
  margin-right: 8px !important;
  height: 36px;
  align-self: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 11fr 1fr 1fr;
  grid-template-areas: '. . buttonContainer . menuContainer';
  width: 100%;
  margin-bottom: 12px;
}

.buttonContainer {
  grid-area: buttonContainer;
  display: flex;
  justify-content: center;
}

.menuContainer {
  grid-area: menuContainer;
  margin-right: 2px;
}

.menu {
  align-self: center;
  justify-self: end;
  align-self: center;
}

@media (min-width: 600px) {
  .button {
    width: 25%;
  }
}

@media (max-width: 600px) {
  .cancel {
    width: 48px !important;
  }
  .save {
    width: 48px !important;
  }
  .button {
    width: 48px !important;
  }
}
