.stats {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.stats div {
  flex: 1;
}

.stats div:nth-child(2) {
  flex: 4;
}

.stats div:nth-child(n + 3) {
  text-align: center;
}
