.card {
  width: 100%;
}

.searchList {
  margin: 8px;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.player {
  flex: 1 1 auto;
}

.listTitle {
  text-align: left;
  margin-bottom: 4px !important;
}

.divider {
  margin-bottom: 16px !important;
}
