.container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  height: 100vh;
  padding: 2.5rem 1.5rem;
  gap: 4rem;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.content h3 {
  color: #22b995;
  font-size: 1.5rem;
}

.content > p {
  margin-top: 1.625rem;
  font-size: 0.75rem;
}

.content > p > a {
  color: rgba(45, 197, 168, 1);
}

.loginCard {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 0.75rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  padding: 0.75rem;
  width: 100%;
  gap: 1.75rem;

  font-size: 0.875rem;
  font-weight: bold;
  margin-top: 1rem;
}

.cardIcon {
  width: 1.375rem;
  height: 1.375rem;
}

.footer {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  font-size: 0.5625rem;
  text-align: center;
}

/* .card {
  grid-area: login;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.loginButton {
  margin-left: auto;
  margin-right: auto;
}
.linksContainer {
  justify-content: space-between;
}
.button {
  width: 100%;
}
.or {
  color: gray;
  margin: 8px auto;
}
.buttonSignup {
  margin: 0 8px !important;
}
.logo {
  margin: 0 auto;
  grid-area: logo;
  width: 200px;
  height: 200px;
}
.container {
  margin-top: 32px;
  display: grid !important;
  grid-template-areas: 'logo' 'login' 'signup' 'description';
  grid-template-columns: 1fr;
  column-gap: 8px;
  row-gap: 8px;
}
@media (min-width: 600px) {
  .container {
    margin-top: 64px;
    display: grid !important;
    grid-template-areas: 'logo' 'login' 'signup' 'description';
    grid-template-columns: 1fr;
    column-gap: 8px;
    row-gap: 8px;
    width: 500px !important;
  }
} */
