.title {
  display: flex;
  flex-direction: row;
  justify-content: left;

  align-items: center;
}
.delete {
  margin-right: 0.5rem;
}
.title {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}
.face {
  margin-right: 0.5rem;
}

.member {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}
.profile {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  max-width: 35vw !important;
}
.grow {
  flex-grow: 1;
}
.avatar {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}
.text {
  display: flex;
  flex-direction: column;
  max-width: inherit !important;
}
.name {
  white-space: nowrap !important;
  font-weight: 550 !important;
  font-size: 1rem !important;
  max-width: inherit !important;
  text-overflow: ellipsis;
  overflow: hidden;
}
.nickname {
  white-space: nowrap !important;
  font-size: 0.7rem !important;
  color: #adacad;
  max-width: inherit !important;
  text-overflow: ellipsis;
  overflow: hidden;
}
.delete {
  margin-left: 1rem;
  margin-right: 0.2rem;
}
