.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.title {
  margin-right: 23px;
}

.paper {
  text-align: center;
  margin-top: 8px !important;
}

.iconButton {
  margin: 8px !important;
}
