.paper {
  margin-top: 2rem;
}

.eventTypeContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
}

.eventType {
  border-radius: 1rem;
  border: 0.25rem solid #e5e5e5;
  width: 100%;
  padding: 1rem 4rem;
}

.selected {
  border: 0.25rem solid #18b393;
}

@media (min-width: 600px) {
  .eventType {
    flex-basis: 47.5%;
  }
}
