.container {
  display: flex;
  justify-content: center;
}
.title {
  font-size: 2em !important;
  font-weight: bold !important;
}
.verified {
  color: #1a92f8 !important;
  margin-left: 0.2rem;
  vertical-align: middle;
}
.eventButton {
  align-self: right;
  justify-self: center;
  width: 50% !important;
  height: 30.04px;
}
.optionsButton {
  color: white !important;
  background-color: #18b393 !important;
  margin-left: 4px !important;
  height: 30.04px !important;
  min-width: 30px !important;
}
.root {
  flex-grow: 1;
  margin: auto;
  max-width: 700px;
  padding-top: 38.07px;
}

.paper {
  margin: auto;
  margin-bottom: 4px;
}

.navigation {
  flex-grow: 1;
  margin: auto;
  max-width: 700px;
}

.MuiTabs-root {
  min-height: none !important;
}

.MuiTab-root {
  min-height: none !important;
}

.divIconButton {
  margin: 8px 0px;
  display: flex;
  justify-content: space-between;
}

.view {
  margin-left: 16px !important;
}

.divIconMember {
  margin-left: auto;
  padding-right: 16px;
}

.iconMember {
  color: black !important;
  background-color: #f5f5f5 !important;
  font-weight: 400 !important;
}

.chip {
  margin-right: 8px !important;
}

@media (min-width: 600px) {
  .MuiTab-root {
    min-width: 80px !important;
  }
}

@media (max-width: 960px) {
  .avatar {
    width: 100px !important;
    height: 100px !important;
  }

  .eventButton {
    align-self: center;
    justify-self: center;
    width: 50% !important;
  }

  .gridText {
    justify-content: center !important;
    max-width: 300px !important;
    margin: auto !important;
  }

  .gridButton {
    justify-content: center;
    padding-bottom: 10px;
  }

  .root {
    flex-grow: 1;
    margin: auto;
    max-width: 700px;
  }

  .title {
    justify-content: center !important;
    font-size: 1.5em !important;
    font-weight: bold !important;
  }
  .subtitle {
    justify-content: center;
    font-size: 0.8em;
    padding: 5px;
  }
}

@media (max-width: 600px) {
  .root {
    flex-grow: 1;
    margin: auto;
    max-width: 700px;
    padding: 2px;
  }
}
