.card {
  grid-area: users;
  width: 100%;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}